{extend name="public/base" /}
<!-- <div id="top_logo">
	<table width="760" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td width='159'><a href="http://www.sport.org.cn/" target="_blank">中华全国体育总会官方网站</a></td>
	          <td width="599"><ul>

				<li><a href="http://www.sports.cn/" title="华奥星空网" target="_blank">华奥星空</a></li>
				<li><a href="http://www.olympic.cn/" title="中国奥委会官方网站" target="_blank">中国奥委会官网</a></li>	
			</ul></td>
		</tr>
	</table>
</div> -->
{block name="content"}
<div id="box">
	{include file="public/header" /}

	<div class="zone">
		{include file="public/left_nav" /}

		<div class="first" id="right">

			<div class="zone1">
				<div class="zone bg1">
					<table width="100%" cellpadding="0" cellspacing="8">
						<tr valign="top">
							<td width="4"></td>
							<td width="250">
								<div class="zone" id="label_a">
									<ul>
										<li id="label_a_1"><a href="#" title="新闻"><em>新闻</em></a></li>
										<li id="label_a_2"><a href="#" title="视频"><em>视频</em></a></li>
									</ul>
								</div>
								<div class="zone c01" id="content_a">
									<div class="child" style="display:none;">
										{notempty name="hot_news_top"}
											<div class="photo">
												<a href="/index/news_detail?id={$hot_news_top.id}" target="_blank">
													<img src="{$hot_news_top.thumb}" alt="{$hot_news_top.news_name}" />
												</a>
											</div>
											<div class="txt">
												<a href="/index/news_detail?id={$hot_news_top.id}" target="_blank" title="{$hot_news_top.news_name}">
													{$hot_news_top.news_name}
												</a>
												<div class="txtdesc">
													{$hot_news_top.newsinfo}
												</div>
												
											</div>
										{/notempty}
										
 
									</div>
									<div class="child" style="display:none;">
										{notempty name="videos_top"}
											<div class="photo">
												<a href="{$videos_top.video_url}" target="_blank">
													<img src="{$videos_top.video_thumb}" alt="{$videos_top.video_name}" />
												</a>
											</div>

											<div class="txt">
												<a href="{$videos_top.video_url}" target="_blank" title="{$videos_top.video_name}">
													{$videos_top.video_name}
												</a>
												<div class="txtdesc">
													{$videos_top.video_info}
												</div>
											</div>
 										{/notempty}
									</div>
								</div>
							</td>

							<td width="14"></td>

							<td>
								<div class="space1"></div>

								<div class="title-common">热点新闻</div>


								<ul class="tlist2 L26">
									{volist name="hot_news" id="vo"}
										<li>
											<a href="/index/news_detail?id={$vo.id}" target="_blank" title="{$vo.news_name}">
												{$vo.news_name}
											</a>
										</li>
									{/volist}
								</ul>

								<div class="space1"></div>

								<div><img src="http://images.sports.cn/2007/03/31/1542099671.gif" width="260" height="75" alt="" /></div>
							</td>
							<td width="4"></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="space1"></div>
			
			<div class="zone">
				<div class="zone2">
					<div class="zone bg1" style="min-height: 300px;">
						<div class="space1"></div>

						<div class="title-common-1">比赛</div>

						<div class="zone3 tlist2">

							<ul class="tlist2 L26">
								{volist name="games" id="vo"}
									<li>
										<a href="/index/game_detail/{$vo.id}" title="{$vo.gamename}">
											{$vo.gamename}
										</a>
									</li>
								{/volist}
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>
				<div class="zone2">
					<div class="zone bg1" style="min-height: 300px;">

						<div class="space1"></div>

						<div class="title-common-1">
							精彩视频
						</div>

						<div class="zone3 tlist2">
							<ul class="tlist2 L26">
								{volist name="videos" id="vo"}
									<li>
										<a href="/index/video_detail/{$vo.id}" title="{$vo.video_name}">
											{$vo.video_name}
										</a>
									</li>
								{/volist}
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>
			</div>

			<div class="space1"></div>

			<div class="zone">
				<div class="zone2">
					<div class="zone bg1">
						<div class="space1"></div>

						<div class="title-common-1">资料库</div>

						<div class="zone3 tlist2">
							<ul class="tlist2 L26">
								{volist name="club_infos" id="vo"}
									<li>
										<a href="/index/club_detail/{$vo.id}" title="{$vo.title}">
											{$vo.title}
										</a>
									</li>
								{/volist}
									
 									<!-- <li><a href="http://basketball.sport.org.cn/inter/2012-11-22/388585.html" title="德安东尼战胜禅师加盟湖人 科比表态两个都喜欢">德安东尼战胜禅师加盟湖人 科比表态两个都喜欢</a></li>
 									<li><a href="http://basketball.sport.org.cn/inter/2012-11-02/387552.html" title="詹姆斯鏖战至脚抽筋 热火发威大胜凯尔特人">詹姆斯鏖战至脚抽筋 热火发威大胜凯尔特人</a></li>
 									<li><a href="http://basketball.sport.org.cn/inter/2012-11-02/387551.html" title="NBA大幕拉开热火领冠军钻戒 詹姆斯：享受这一刻">NBA大幕拉开热火领冠军钻戒 詹姆斯：享受这一刻</a></li> -->
 
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>

				<div class="zone2">
					<div class="zone bg1" style="min-height: 300px;">

						<div class="space1"></div>

						<div class="title-common-1">
							中国之队
						</div>

						<div class="zone3 tlist2">
							<ul class="tlist2 L26">
								{volist name="china_teams" id="vo"}
									<li>
										<a href="/index/china_teams/{$vo.id}" title="{$vo.title}">
											{$vo.title}
										</a>
									</li>
								{/volist}
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>

			</div>

			<div class="space1"></div>

			<div class="zone">
				<div class="zone2">
					<div class="zone bg1">
						<div class="space1"></div>
						<div align="center"><a href="http://basketball.sport.org.cn/videos/list_p.html" title="精彩视频"><img src="http://images.sport.org.cn/new/bk/1_25.jpg" alt="精彩视频" vspace="6" /></a></div>
						<div class="zone3 tlist2">
							<ul class="tlist2 L26">
									<li><a href="http://basketball.sport.org.cn/videos/2011-04-27/350602.html" title="2010-11赛季CBA总决赛广东夺冠 颁奖仪式">2010-11赛季CBA总决赛广东夺冠 颁奖仪式</a></li>
 									<li><a href="http://basketball.sport.org.cn/videos/2011-04-27/350601.html" title="CBA总决赛第六场 广东逆转新疆夺冠(下)">CBA总决赛第六场 广东逆转新疆夺冠(下)</a></li>
 									<li><a href="http://basketball.sport.org.cn/videos/2011-04-27/350583.html" title="CBA总决赛第六场 广东逆转新疆夺冠(上)">CBA总决赛第六场 广东逆转新疆夺冠(上)</a></li>
 									<li><a href="http://basketball.sport.org.cn/videos/2011-04-24/350354.html" title="CBA总决赛第五场 广东110-104新疆（上）">CBA总决赛第五场 广东110-104新疆（上）</a></li>
 									<li><a href="http://basketball.sport.org.cn/videos/2011-04-24/350342.html" title="CBA总决赛第五场 广东110-104新疆（下）">CBA总决赛第五场 广东110-104新疆（下）</a></li>
 
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>
				<div class="zone2">
					<div class="zone bg1">
						<div class="space1"></div>
						<div align="center"><a href="http://basketball.sport.org.cn/GeneralInfo/list.html" title="篮球综合"><img src="http://images.sport.org.cn/new/bk/1_26.jpg" alt="篮球综合" vspace="6" /></a></div>
						<div class="zone3 tlist2">
							<ul class="tlist2 L26">
									<li><a href="http://basketball.sport.org.cn/GeneralInfo/2012-11-12/388099.html" title="湖人宣布布朗下课 科比加索尔表态：专注现在">湖人宣布布朗下课 科比加索尔表态：专注现在</a></li>
 									<li><a href="http://basketball.sport.org.cn/GeneralInfo/2012-10-20/386652.html" title="全国“篮球城市”篮球交流结束 十城市参与活动">全国“篮球城市”篮球交流结束 十城市参与活动</a></li>
 									<li><a href="http://basketball.sport.org.cn/GeneralInfo/2012-10-14/386271.html" title="NBA总裁寄望世界和平 记者问斯特恩：你幸福吗">NBA总裁寄望世界和平 记者问斯特恩：你幸福吗</a></li>
 									<li><a href="http://basketball.sport.org.cn/GeneralInfo/2012-10-14/386267.html" title="韦德遗憾扣篮没中 詹姆斯：按摩就是想放松一下">韦德遗憾扣篮没中 詹姆斯：按摩就是想放松一下</a></li>
 									<li><a href="http://basketball.sport.org.cn/GeneralInfo/2012-10-14/386266.html" title="巴特勒：新队员融入需要时间 防守问题会解决">巴特勒：新队员融入需要时间 防守问题会解决</a></li>
 
							</ul>
						</div>
						<div class="space1"></div>
					</div>
				</div>
			</div>

			<div class="space1"></div>

			<div class="zone1">
				<div class="zone bg1">
					<div class="space1"></div>
					<div class="space3"></div>
					<div><img src="http://images.sport.org.cn/new/bk/1_27.jpg" alt="相关链接" hspace="25" /></div>
					<span id="bk_071113_3" name="jsname">
						<script language="JavaScript" type="text/javascript" src="http://js.sport.org.cn/manjs/bk_071113_3.js"></script>
					</span>
					<div class="space1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
var stab1=new stab("label_a","content_a");
//]]>
</script>
<span name="adid" id="4"><script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<script type="text/javascript">BAIDU_CLB_fillSlot("162078");</script></span>
<style type="text/css">

</style>

{include file="public/footer" /}
{/block}
