{extend name="public/base" /}
{block name="content"}
<div id="box">
	{include file="public/header" /}
		<div class="zone">
			{include file="public/left_nav" /}

			<div class="first" id="right">
				<div class="zone1">
					<div class="zone bg1">
						<div class="level border1">&nbsp;
							<a href='http://basketball.sport.org.cn/index.html'>首页</a> >> 
							<a href='http://basketball.sport.org.cn/Association/index.html'>关于协会</a> >> 
							<a href='http://basketball.sport.org.cn/association/about/list.html'>官方公告</a>
						</div>

						<div id="atitle">男篮U19集训周琦李京龙入选 王怀玉担任主教练</div>
						<div class="c01"align="center">http://www.sports.cn/  2012-11-02 15:40:00
							<a href='http://www.sports.cn' target='_blank'>华奥星空</a>
						</div>

						<div id="vogate_ad_area">
							<div id="atext">
								<p>　　华奥星空10月24日北京电(记者 杨宝岩)今天下午，篮球中心关于组织U19国青男篮集训的通知，王怀玉继续担任U19国青队主教练，助理教练则由张云松和张成担任。李春江之子李京龙也再次出现在名单上。这个队伍将参加2013年的U19世青赛。</p>
								<p>　　以下为集训通知全文：</p>
								<p>　　篮球字〔2012〕516号</p>
								<p>　　各有关省(市)体育局球类中心、总政宣传部文体局：</p>
								<p>　　为备战2013年6月27日举行的世界U19青年男篮锦标赛，加强我国篮球后备人才的培养，提高基础训练水平，同时为各俱乐部培养骨干力量，经研究，拟于2012年10月28日至2013年7月7日期间组织U19国青男篮集训。现将集训有关事宜通知如下：</p>
								<p>　　一、集训阶段划分：(共分为两个阶段)</p>
								<p>　　第一阶段：2012年10月28日至2013年1月27日结束；1月28日至3月20日队员归队备战全运会预赛。</p>
								<p>　　第二阶段：2013年3月21日至2013年7月7日结束。</p>
								<p>　　所有运动员必须按时报到。</p>
								<p>　　二、U19男篮集训人员名单：</p>
								<p>　　领 队：张 雄(兼，篮球中心)</p>
								<p>　　主教练：王怀玉(广东)</p>
								<p>　　教练员：张 成(江苏)、张云松(北京)</p>
								<p>　　体能教练兼翻译：徐军海(中央财经大学)</p>
								<p>　　队 医：杜文亮(体育医院)</p>
								<p>　　运动员：赵继伟、周琦(辽宁)，杨金蒙、李京龙、邵英伦(广东)，代怀博(新世纪)，李麒(北京)，李斌(浙江广厦)，姚天一(新疆)，白冰、张韩、衡艺丰(江苏)，王玥(佛山)，赵睿(东莞柏宁)，徐煜峰(山东)、刘天意(吉林)。</p>
								<p>　　三、报到时间、集训地点及联系人：</p>
								<p>　　(一)报到时间：请于2012年10月28日报到。</p>
								<p>　　(二)男青报到地点：国家体育总局训练局北公寓(北京市崇文区天坛东路50号)；联系人：张隆(篮球中心) ，18910933053。</p>
								<p>　　四、经费及其它规定：</p>
								<p>　　(一)医疗费、人身意外伤害保险费和往返交通费由所属单位支付。</p>
								<p>　　(二)运动员需自带必须的训练装备和生活用品。</p>
								<p>　　篮球中心</p>
								<p>　　2012年10月24日</p>
							</div>
						</div>（责任编辑：杨宝岩）
					</div>

					<div class="space1"></div>

				</div>
			</div>
		</div>
	</div>
	{include file="public/footer" /}
{/block}