
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中国篮球协会官方网站</title>
<link type="text/css" rel="stylesheet" href="http://images.sport.org.cn/new/bk/style.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="http://images.sport.org.cn/new/bk/ie.css" />
<![endif]-->
<meta name="Keywords" content="中国篮球协会,中国篮协,CBA" />
<meta name="Description" content="中国篮球协会官方网站" />
</head>
<body>
<div id="box">
	<div class="zone1" id="header" title="中国篮球协会官方网站"><img src="http://images.sport.org.cn/new/bk/1_02.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_03.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_04.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_05.jpg" alt="" /></div>
	<div class="zone1">
		<div class="zone" id="nav">
			<ul>
				<li id="nav1"><a href="http://www.basketball.org.cn/" title="首页"><em>首页</em></a></li>
				<li id="nav2"><a href="http://basketball.sport.org.cn/Association/index.html" title="关于协会"><em>关于协会</em></a></li>
				<li id="nav3"><a href="http://basketball.sport.org.cn/team/list.html" title="热点新闻"><em>热点新闻</em></a></li>
				<li id="nav4"><a href="http://basketball.sport.org.cn/League/list.html" title="联赛风云"><em>联赛风云</em></a></li>
				<li id="nav5"><a href="http://basketball.sport.org.cn/Database/index.html" title="资料库"><em>资料库</em></a></li>
				<li id="nav6"><a href="http://bbs.sports.cn" title="篮球论坛" target="_blank"><em>篮球论坛</em></a></li>
				<li id="nav7"><a href="http://basketball.sport.org.cn/team/list.html" title="中国队新闻" target="_blank"><em>中国队新闻</em></a></li>
			</ul>
		</div>
	</div>
	<div class="zone">
		<div class="first" id="left">
			<div><img src="http://images.sport.org.cn/new/bk/1_30.jpg" alt="精彩视频" /></div>
			<div class="space1"></div>
			<div class="bg1" id="video">
				<div class="space1"></div>
				<div class="photo"><a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank"><img src="http://images.sport.org.cn/Image/2010/04/19/1018195673.jpg" alt="CBA总决赛第二场 广东83：80新疆" /></a></div>
				<div class="title border1"><a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank" title="CBA总决赛第二场 广东83：80新疆">CBA总决赛第二场 广东83：80新疆</a></div>
 
				<div class="space3"></div>
				<ul class="tlist2 L20">
						<li><a href="http://v.sports.cn/lanqiu/xinwen/2010-12-22/2112546.html" title="[视频]八一终结广东不败-WCBA联赛第六轮综述">[视频]八一终结广东不败-WCBA联赛第六轮综述</a></li>
 						<li><a href="http://basketball.sport.org.cn/videos/2010-12-13/341573.html" title="[视频]WCBA第三轮综述-纪妍妍38分弑旧主">[视频]WCBA第三轮综述-纪妍妍38分弑旧主</a></li>
 						<li><a href="http://basketball.sport.org.cn/videos/2010-12-13/341572.html" title="[视频]广厦揭幕战迎开门红-CBA联赛首轮综述">[视频]广厦揭幕战迎开门红-CBA联赛首轮综述</a></li>
 
				</ul>
				<div class="space1"></div>
			</div>
			<div class="space1"></div>
			<div><img src="http://images.sport.org.cn/new/bk/1_09.jpg" alt="明星官网" /></div>
			<div class="space1"></div>
<span id="bk_071113_1" name="jsname">
<script language="JavaScript" type="text/javascript" src="http://js.sport.org.cn/manjs/bk_071113_1.js"></script>
</span>
			<div class="space1"></div>
			<div><img src="http://images.sport.org.cn/new/bk/1_10.jpg" alt="热点专题" /></div>
			<div class="space1"></div>
			<div class="bg1">
				<div class="space3"></div>
<span id="bk_071113_2" name="jsname">
<script language="JavaScript" type="text/javascript" src="http://js.sport.org.cn/manjs/bk_071113_2.js"></script>
</span>
				<div class="space3"></div>
				<div class="space1"></div>
			</div>
		</div>
		<div class="first" id="right">
			<div class="zone1">
				<div class="zone bg1">
					<div class="level 