{extend name="public/base" /}
{block name="content"}
<div id="box">
	{include file="public/header" /}
		<div class="zone">
			{include file="public/left_nav" /}

			<div class="first" id="right">
				<div class="zone1">
					<div class="zone bg1">
						<div class="level border1">&nbsp;
							<a href='/'>首页</a> >> 
							<a href='/index/hot_news'>关于我们</a>
						</div>

						<div id="atitle">协会信息</div>
						<div class="c01" align="center">
							2018-12-09 11:50:40
						</div>

						<div id="vogate_ad_area">
							<div id="atext">
								<p style="text-indent: 10px;">中国篮球协会（Chinese Basketball Association）成立于1956年6月，简称“中国篮协”（CBA），是具有独立法人资格的全国性群众体育组织，是由各省、自治区、直辖市篮球协会、各行业篮球协会及解放军相应的运动组织为团体会员组成的、全国性、非营利性的联合组织，是中华全国体育总会的团体会员，是中国奥林匹克委员会承认的奥运项目组织，是代表中国参加国际篮球联合会和亚洲篮球联合会的唯一合法组织。</p>
								<p style="text-indent: 10px;">
									1997年11月24日，国家体育总局篮球管理中心成立（与中国篮协一个机构两块牌子），隶属于国家体育总局，该组织主办多个联赛，例如男子和女子篮球联赛，以及大学生篮球联赛等。2017年新一届篮协领导班子11人，姚明当选主席，7人为社会专业人士。第八届中国篮协领导班子为22人，全部为国家事业工业人员。 [1] 
								</p>

								<h2 style="font-weight: bold;color: yellow;margin-left: -30px;font-size: 16px;">第一章总则</h2>

								<p style="text-indent: 10px;">第一条：本会定名为中国篮球协会，简称中国篮协
								(英文译名：CHINESE BASKETBALL ASSOCIATION)。
								本会会址设于北京。</p>
								<p style="text-indent: 10px;">第二条：中国篮协是具有法人资格的全国性群众体育社会团体，是中华全国体育总会的团体会员，是代表中国参加国际篮球联合会相应的国际篮球运动的唯一合法组织。</p>
								<p style="text-indent: 10px;">第三条：中国篮协的宗旨是团结全国篮球工作者、运动员和积极份子，努力发展我国的篮球运动，推动篮球的普及和技术水平的提高，攀登世界高峰，促进精神文明建设，增进与各国篮球协会和运动员的友谊，加强与国际篮联和亚篮联的联系与合作。</p>

								<h2 style="font-weight: bold;color: yellow;margin-left: -30px;font-size: 16px;">第二章任务</h2>
								
								<p style="text-indent: 10px;">第四条：中国篮协的任务是根据国家的体育方针、政策和有关法规，统一组织、协调全国篮球运动的开展，推动群众普及活动和运动水平的提高，促进亚洲和世界篮球运动的进步。</p>
								
								<p style="text-indent: 10px;">第五条：本协会的职责：宣传与普及篮球运动，组织广大群众的青少年积极参加篮球运动，以增强体质和提高运动技术水平。</p>
								
								<p style="text-indent: 10px;">按照国家体育行政机关和国际组织有关规定，协助举办国际性竞赛，向有关部门提出国际活动及有关事项的建议。协助组织全国性的各类各级篮球竞赛和训练工作。拟定本项目运动竞赛制度、竞赛规则和竞赛纪律，报请体育行政主管部门批施准后行。</p>
								
								<p style="text-indent: 10px;">协助组织培训教练员、裁判员，提出对等级运动员、教练员、裁判员以及运动员制度资格的审查和处理意见。根据国家体委和全国体总、国家奥委会委托拔和推荐国家队教练员、运动员、协助组织国家队集训和参加国际篮球比赛。</p>
								
								<p style="text-indent: 10px;">负责教练员出国任教的选拔和运动员个人到境外训练比赛的归口管理工作。协助组织篮球运动的科学研究工作。</p>
								
							</div>
					</div>

					<div class="space1"></div>

				</div>
			</div>
		</div>
	</div>
	{include file="public/footer" /}
{/block}