<dl>
    <dt>
        <i class="Hui-iconfont">&#xe61d;</i>
        个人信息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
    </dt>
    <dd>
        <ul>
            <li>
            	<a _href="/admin/admin_user/index.html" data-title="用户管理" href="javascript:;" data-nav="个人信息">用户管理</a>
            </li>
        </ul>
    </dd>
</dl>

<dl>
    <dt>
        <i class="Hui-iconfont">&#xe616;</i>
        excle上传<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
    </dt>
    <dd>
        <ul>
            <li>
            	<a _href="/admin/content/index.html" data-title="最新消息" href="javascript:;" data-nav="最新消息">最新新闻</a>
            </li>
            <li>
                <a _href="/admin/content/index.html" data-title="精彩视频" href="javascript:;" data-nav="精彩视频">精彩视频</a>
            </li>
            <li>
                <a _href="/admin/content/index.html" data-title="比赛" href="javascript:;" data-nav="比赛">比赛</a>
            </li>
            <li>
                <a _href="/admin/content/index.html" data-title="资料库" href="javascript:;" data-nav="资料库">资料库</a>
            </li>
            <li>
                <a _href="/admin/content/index.html" data-title="资料库" href="javascript:;" data-nav="资料库">中国队</a>
            </li>
        </ul>
    </dd>
</dl>