<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中国篮球协会官方网站</title>
<link type="text/css" rel="stylesheet" href="http://images.sport.org.cn/new/bk/style.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="http://images.sport.org.cn/new/bk/ie.css" />
<![endif]-->
<meta name="Keywords" content="中国篮球协会,中国篮协,CBA" />
<meta name="Description" content="中国篮球协会官方网站" />
</head>
<body>
<div id="box">
	<div class="zone1" id="header" title="中国篮球协会官方网站"><img src="http://images.sport.org.cn/new/bk/1_02.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_03.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_04.jpg" alt="" /><img src="http://images.sport.org.cn/new/bk/1_05.jpg" alt="" /></div>
	<div class="zone1">
		<div class="zone" id="nav">
			<ul>
				<li id="nav1"><a href="http://www.basketball.org.cn/" title="首页"><em>首页</em></a></li>
				<li id="nav2"><a href="http://basketball.sport.org.cn/Association/index.html" title="关于协会"><em>关于协会</em></a></li>
				<li id="nav3"><a href="http://basketball.sport.org.cn/team/list.html" title="热点新闻"><em>热点新闻</em></a></li>
				<li id="nav4"><a href="http://basketball.sport.org.cn/League/list.html" title="联赛风云"><em>联赛风云</em></a></li>
				<li id="nav5"><a href="http://basketball.sport.org.cn/Database/index.html" title="资料库"><em>资料库</em></a></li>
				<li id="nav6"><a href="http://bbs.sports.cn" title="篮球论坛" target="_blank"><em>篮球论坛</em></a></li>
				<li id="nav7"><a href="http://basketball.sport.org.cn/team/list.html" title="中国队新闻" target="_blank"><em>中国队新闻</em></a></li>
			</ul>
		</div>
	</div>
	<div class="zone">
		<div class="first" id="left">
			<div><img src="http://images.sport.org.cn/new/bk/1_30.jpg" alt="精彩视频" /></div>
			<div class="space1"></div>
			<div class="bg1" id="video">
				<div class="space1"></div>
				<div class="photo"><a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank"><img src="http://images.sport.org.cn/Image/2010/04/19/1018195673.jpg" alt="CBA总决赛第二场 广东83：80新疆" /></a></div>
				<div class="title border1"><a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank" title="CBA总决赛第二场 广东83：80新疆">CBA总决赛第二场 广东83：80新疆</a></div>
 
				<div class="space3"></div>
				<ul class="tlist2 L20">
						<li><a href="http://v.sports.cn/lanqiu/xinwen/2010-12-22/2112546.html" title="[视频]八一终结广东不败-WCBA联赛第六轮综述">[视频]八一终结广东不败-WCBA联赛第六轮综述</a></li>
 						<li><a href="http://basketball.sport.org.cn/videos/2010-12-13/341573.html" title="[视频]WCBA第三轮综述-纪妍妍38分弑旧主">[视频]WCBA第三轮综述-纪妍妍38分弑旧主</a></li>
 						<li><a href="http://basketball.sport.org.cn/videos/2010-12-13/341572.html" title="[视频]广厦揭幕战迎开门红-CBA联赛首轮综述">[视频]广厦揭幕战迎开门红-CBA联赛首轮综述</a></li>
 
				</ul>
				<div class="space1"></div>
			</div>
			<div class="space1"></div>
			<div><img src="http://images.sport.org.cn/new/bk/1_09.jpg" alt="明星官网" /></div>
			<div class="space1"></div>
<span id="bk_071113_1" name="jsname">
<script language="JavaScript" type="text/javascript" src="http://js.sport.org.cn/manjs/bk_071113_1.js"></script>
</span>
			<div class="space1"></div>
			<div><img src="http://images.sport.org.cn/new/bk/1_10.jpg" alt="热点专题" /></div>
			<div class="space1"></div>
			<div class="bg1">
				<div class="space3"></div>
<span id="bk_071113_2" name="jsname">
<script language="JavaScript" type="text/javascript" src="http://js.sport.org.cn/manjs/bk_071113_2.js"></script>
</span>
				<div class="space3"></div>
				<div class="space1"></div>
			</div>
		</div>
		<div class="first" id="right">
			<div class="zone1">
				<div class="zone bg1">
					<div class="level border1">&nbsp;<a href='http://basketball.sport.org.cn/index.html'>首页</a> >> <a href='http://basketball.sport.org.cn/Association/index.html'>关于协会</a></div>
					<table width="92%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td><h2><a href="http://basketball.sport.org.cn/association/about/list.html" title="协会公告">协会公告</a></h2></td>
						</tr>
					</table>
					<table width="80%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td>
								<ul class="tlist2 L22">
									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-11-02/387531.html" title="男篮U19集训周琦李京龙入选 王怀玉担任主教练">男篮U19集训周琦李京龙入选 王怀玉担任主教练</a><span class="ndate">(02日 15:40)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-08-24/383564.html" title="关于召开11-12女子篮球甲级联赛总结会的通知">关于召开11-12女子篮球甲级联赛总结会的通知</a><span class="ndate">(24日 11:10)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-08-22/383414.html" title="全国篮球U17集训赛男子组比赛裁判员安排的通知">全国篮球U17集训赛男子组比赛裁判员安排的通知</a><span class="ndate">(22日 09:09)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-08-22/383413.html" title="关于举行2012年全国篮球U17集训赛抽签仪式通知">关于举行2012年全国篮球U17集训赛抽签仪式通知</a><span class="ndate">(22日 09:08)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-05-17/377596.html" title="国家队六小时奔波抵达诸城 四名伤兵缺席明比赛">国家队六小时奔波抵达诸城 四名伤兵缺席明比赛</a><span class="ndate">(17日 17:07)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-05-17/377595.html" title="范斌满意队员表现 寄语国家队三小将放手拼搏">范斌满意队员表现 寄语国家队三小将放手拼搏</a><span class="ndate">(17日 17:06)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-05-13/377368.html" title="2012年全国篮球俱乐部青年联赛第二阶段事宜通知">2012年全国篮球俱乐部青年联赛第二阶段事宜通知</a><span class="ndate">(13日 08:22)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/about/2012-05-12/377357.html" title="2012篮球职业俱乐部U16比赛裁判员安排通知">2012篮球职业俱乐部U16比赛裁判员安排通知</a><span class="ndate">(12日 21:33)</span></li>
 
								</ul>
							</td>
						</tr>
					</table>
					<div class="space1"></div>
					<table width="92%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td><h2><a href="http://basketball.sport.org.cn/association/Charter/list.html" title="中国篮球协会章程">中国篮球协会章程</a></h2></td>
						</tr>
					</table>
					<table width="80%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td>
								<ul class="tlist2 L22">
									<li><a target="_blank" href="http://basketball.sport.org.cn/association/Charter/2007-05-31/121782.html" title="篮协今日搬家 国家队领队专设办公区">篮协今日搬家 国家队领队专设办公区</a><span class="ndate">(31日 15:52)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/focusReport/2007-01-26/109441.html" title="2007WCBA运动员短期交流摘牌仪式25日举行">2007WCBA运动员短期交流摘牌仪式25日举行</a><span class="ndate">(01日 14:15)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/focusReport/2007-01-26/109447.html" title="肖红安在07WCBA工作会议上的讲话">肖红安在07WCBA工作会议上的讲话</a><span class="ndate">(01日 14:15)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/focusReport/2007-01-26/109445.html" title="王玄在07WCBA竞赛工作会议的发言">王玄在07WCBA竞赛工作会议的发言</a><span class="ndate">(01日 14:14)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/focusReport/2007-01-26/109443.html" title="王渡在07WCBA竞赛工作会议上的讲话">王渡在07WCBA竞赛工作会议上的讲话</a><span class="ndate">(01日 14:14)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/Charter/2007-01-05/107920.html" title="首届经纪人培训结束 筹建球员工会入工作表">首届经纪人培训结束 筹建球员工会入工作表</a><span class="ndate">(05日 23:48)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/Charter/2005-05-24/5943.html" title="参加2005年晋升国家级裁判员考试名单">参加2005年晋升国家级裁判员考试名单</a><span class="ndate">(24日 10:10)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/association/Charter/2005-04-08/5942.html" title="关于组织05年(U20)国家男篮集训选拔的通知">关于组织05年(U20)国家男篮集训选拔的通知</a><span class="ndate">(08日 11:27)</span></li>
 
								</ul>
							</td>
						</tr>
					</table>
					<div class="space1"></div>
					<table width="92%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td><h2><a href="http://basketball.sport.org.cn/Association/Regulations/list.html" title="政策制度">政策制度</a></h2></td>
						</tr>
					</table>
					<table width="80%" cellpadding="4" cellspacing="0" align="center">
						<tr>
							<td>
								<ul class="tlist2 L22">
									<li><a target="_blank" href="http://basketball.sport.org.cn/Association/Regulations/2007-07-28/131137.html" title="八月中国女篮四国邀请赛赛程 17日山西打响">八月中国女篮四国邀请赛赛程 17日山西打响</a><span class="ndate">(28日 14:15)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/gfgg/2007-02-02/110235.html" title="下发2007年全国青年篮球联赛竞赛规程的通知">下发2007年全国青年篮球联赛竞赛规程的通知</a><span class="ndate">(02日 16:20)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/home/gfgg/2006-09-12/97952.html" title="2006-2007赛季CBA联赛竞赛规程">2006-2007赛季CBA联赛竞赛规程</a><span class="ndate">(01日 14:11)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/Association/Regulations/2006-09-27/99082.html" title="2006-2007赛季CBA联赛竞赛规程和竞赛日程">2006-2007赛季CBA联赛竞赛规程和竞赛日程</a><span class="ndate">(27日 19:45)</span></li>
 									<li><a target="_blank" href="http://images.sport.org.cn/download/2006/06/05/1200405000.xls" title="2006年全国男子篮球联赛(NBL)竞赛日程">2006年全国男子篮球联赛(NBL)竞赛日程</a><span class="ndate">(05日 11:00)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/Association/Regulations/2006-05-18/90631.html" title="2006万丰奥特FIBA世界女篮联赛日程表">2006万丰奥特FIBA世界女篮联赛日程表</a><span class="ndate">(18日 12:54)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/Association/Regulations/2006-05-08/89544.html" title="2006年中国男篮国际比赛日程">2006年中国男篮国际比赛日程</a><span class="ndate">(08日 10:34)</span></li>
 									<li><a target="_blank" href="http://basketball.sport.org.cn/Association/Regulations/2006-03-20/85574.html" title="2006年全国男子篮球联赛竞赛规程">2006年全国男子篮球联赛竞赛规程</a><span class="ndate">(20日 10:20)</span></li>
 
								</ul>
							</td>
						</tr>
					</table>
					<div class="space1"></div><div class="space1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="zone footer">
	    	<div><a href="http://www.sports.cn/about/company.html" target="_blank">关于华奥星空</a> - <a href="http://www.sports.cn/about/privacy.html" target="_blank">隐私保护</a> - <a href="http://www.sports.cn/about/ads.html" target="_blank">广告服务</a> - <a href="http://www.sports.cn/about/career.html" target="_blank">招聘信息</a> - <a href="http://www.sports.cn/about/contactus.html" target="_blank">联系我们</a><br />
	        中国篮球协会版权所有&nbsp;&nbsp;本网站由<a href="http://www.sports.cn/" target="_blank">华奥星空</a>(北京)信息技术有限公司提供制作及技术支持<br />
	        <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202004030500005" target="_blank"><img src="http://images.sports.cn/sports/images/biaoshi.gif" alt="" width="40" height="48" /></a>ICP经营许可证：<a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证030713号</a> 京公网安备11010102000807号<br />
	        网上传播视听节目许可证 <a href="http://images.sports.cn/sports/i/v_xuke.gif">编号：0105094</a> 发证机关：国家广播电影电视总局<br />
	        客服及报障电话：<span class="en">4008102008</span> 客服及报障邮箱：<a href="mailto:operationcenter@sports.cn" class="en">operationcenter@sports.cn</a></div><script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fda6b0cca99fa20227ca77f8cd91493a5' type='text/javascript'%3E%3C/script%3E"));
</script>	
	</div>
</div>
</body>
</html>