{extend name="public/base" /}
{block name="content"}
<div id="box">
	{include file="public/header" /}
		<div class="zone">
			{include file="public/left_nav" /}

			<div class="first" id="right">
				<div class="zone1">
					<div class="zone bg1">
						<div class="level border1">&nbsp;
							<a href='/'>首页</a> >> 
							<a href='/index/hot_news'>联系我们</a>
						</div>

						<div id="atitle">联系我们</div>
						<div class="c01" align="center">
							2018-12-09 11:50:40
						</div>

						<div id="vogate_ad_area">
							<div id="atext">
								<img src="__STATIC__/images/timg.jpeg" alt="" style="width: 100%;" />
								
								<p>邮编：100061</p>
								<p>电话：16612344321</p>
								<p>邮箱：123@qq.com</p>
								<p>地址：北京市东城区龙潭路甲1号龙潭西湖公园北门迤东</p>

								<img src="__STATIC__/images/map.jpg" alt="" style="width: 100%;margin-top: 10px;" />
							</div>
						</div>（责任编辑：杨宝岩）
					</div>

					<div class="space1"></div>

				</div>
			</div>
		</div>
	</div>
	{include file="public/footer" /}
{/block}