{extend name="public/base" /}
{block name="content"}
<div id="box">
	{include file="public/header" /}
		<div class="zone">
			{include file="public/left_nav" /}

			<div class="first" id="right">
				<div class="zone1">
					<div class="zone bg1">
						<div class="level border1">&nbsp;
							<a href='/'>首页</a> >> 
							<a href='/index/info_download'>比赛</a>
						</div>

						<div id="atitle">{$infos.gamename}</div>

						<div id="vogate_ad_area">
							<div id="atext">
								{$club_info.content}
							</div>
						</div>
					</div>

					<div class="space1"></div>

				</div>
			</div>
		</div>
	</div>
	{include file="public/footer" /}
{/block}