<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="__ROOT__/favicon.ico" >
    <link rel="Shortcut Icon" href="__ROOT__/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>男篮U19集训周琦李京龙入选 王怀玉担任主教练 - 中国篮球协会官方网站</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__LIB__/html5.js"></script>
    <script type="text/javascript" src="__LIB__/respond.min.js"></script>
    <script type="text/javascript" src="__LIB__/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/sports_header.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/main.css">
    <script src="__STATIC__/js/stab.js" type="text/javascript"></script>

    {block name="style"}{/block}
    <!--[if IE 6]>
    <script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>{block name="title"}{$Think.config.site.title}{/block}</title>
</head>
<body>
{block name="nav"}
<nav class="breadcrumb">
    <div id="nav-title"></div>
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:;" onclick="location.replace(location.href);" title="刷新"><i class="Hui-iconfont"></i></a>
</nav>
{/block}
{block name="content"}{/block}
{block name="script"}{/block}
</body>
</html>