<div class="zone footer">
	<div>
		<a href="javascript:;" target="_blank">关于华奥星空</a> - 
		<a href="javascript:;" target="_blank">隐私保护</a> - 
		<a href="javascript:;" target="_blank">广告服务</a> - 
		<a href="javascript:;" target="_blank">招聘信息</a> - 
		<a href="javascript:;" target="_blank">联系我们</a>
		<br />
	        中国篮球协会版权所有&nbsp;&nbsp;本网站由
    <a href="http://www.sports.cn/" target="_blank">华奥星空</a>
	        (北京)信息技术有限公司提供制作及技术支持
    <br />
	  <a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202004030500005" target="_blank">
	  	<img src="http://images.sports.cn/sports/images/biaoshi.gif" alt="" width="40" height="48" />
	  </a>ICP经营许可证：

	  <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP证030713号</a> 

	  京公网安备110101002608号

	  <br />
	        网上传播视听节目许可证

    <a href="http://images.sports.cn/sports/i/v_xuke.gif">编号：0105094</a> 

    发证机关：国家广播电影电视总局

    <br />
	        客服及报障电话：

    <span class="en">4008102008</span> 

    客服及报障邮箱：

    <a href="mailto:operationcenter@sports.cn" class="en">operationcenter@sports.cn</a></div>
</div>