<div class="first" id="left">
	<div><img src="__STATIC__/images/1_30.jpg" alt="精彩视频" /></div>
				
	<div class="space1"></div>
				
	<div class="bg1" id="video">
		<div class="space1"></div>
		<div class="photo">
			<a href="/index/video_detail?id={$videos_top.id}" target="_blank">
				<img src="__STATIC__/images/1.jpg" alt="CBA总决赛第二场 广东83：80新疆" />
			</a>
		</div>
		
		{empty name="videos_top"}
			<div class="title border1">
				精彩视频为空
			</div>
		{else /}
			<div class="title border1">
				<a href="/index/video_detail?id={$videos_top.id}" target="_blank" title="{$videos_top.video_name}">
					{$videos_top.video_name}
				</a>
			</div>
		{/empty}
		

		<div class="space3"></div>
	

		<ul class="tlist2 L20">
			{volist name="videos" id="vo"}
				<li>
					<a href="/index/video_detail?id={$vo.id}" title="{$vo.video_name}">
						{$vo.video_name}
					</a>
				</li>
			{/volist}
		</ul>

		<div class="space1"></div>
	</div>
</div>