<div class="first" id="left">
	<div><img src="__STATIC__/images/1_30.jpg" alt="精彩视频" /></div>
				
	<div class="space1"></div>
				
	<div class="bg1" id="video">
		<div class="space1"></div>
		<div class="photo">
			<a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank">
				<img src="__STATIC__/images/1.jpg" alt="CBA总决赛第二场 广东83：80新疆" />
			</a>
		</div>

		<div class="title border1">
			<a href="http://v.sports.cn/lanqiu/cba/2010-04-18/2003549.html" target="_blank" title="CBA总决赛第二场 广东83：80新疆">
				CBA总决赛第二场 广东83：80新疆
			</a>
		</div>

		<div class="space3"></div>

		<ul class="tlist2 L20">
				<li>
					<a href="http://v.sports.cn/lanqiu/xinwen/2010-12-22/2112546.html" title="[视频]八一终结广东不败-WCBA联赛第六轮综述">
						[视频]八一终结广东不败-WCBA联赛第六轮综述
					</a>
				</li>
					<li>
						<a href="http://basketball.sport.org.cn/videos/2010-12-13/341573.html" title="[视频]WCBA第三轮综述-纪妍妍38分弑旧主">
							[视频]WCBA第三轮综述-纪妍妍38分弑旧主
						</a>
					</li>
					<li>
						<a href="http://basketball.sport.org.cn/videos/2010-12-13/341572.html" title="[视频]广厦揭幕战迎开门红-CBA联赛首轮综述">
							[视频]广厦揭幕战迎开门红-CBA联赛首轮综述
						</a>
					</li>
		</ul>

		<div class="space1"></div>
	</div>

	<!-- <div class="space1"></div>
				
	<div>
		<img src="__STATIC__/images/1_09.jpg" alt="明星官网" />
	</div>

	<div class="space1"></div>

	<span id="bk_071113_1" name="jsname">
		<script type="text/javascript">
			document.write("<div><a href='http://adijiang.sports.cn/' target='_blank' title='阿的江全球个人官方网站'><img src='__STATIC__/images/1_11.jpg' alt='阿的江全球个人官方网站' /></a></div>			<div class='space3'></div>			<div><a href='http://wangzhizhi.sports.cn/' target='_blank' title='王治郅全球个人官方网站'><img src='__STATIC__/images/1_12.jpg' alt='王治郅全球个人官方网站' /></a></div>			<div class='space3'></div>			<div><a href='http://moke.sports.cn/' target='_blank' title='莫科全球个人官方网站'><img src='__STATIC__/images/1_13.jpg' alt='莫科全球个人官方网站' /></a></div>");
		</script>
	</span>

	<div class="space1"></div>

	<div>
		<img src="__STATIC__/images/1_10.jpg" alt="热点专题" />
	</div>

	<div class="space1"></div>

	<div class="bg1">
		<div class="space3"></div>
		<span id="bk_071113_2" name="jsname">
			<script type="text/javascript">
				document.write("<div align='center'><a title='好运北京女篮国际邀请赛' href='http://www.basketball2008.org.cn/cn/index.html' target='_blank'><img alt='好运北京女篮国际邀请赛' style='width:120px;height:60px;' src='__STATIC__/images/1_13.jpg' /></a></div><div class='space1'></div><div align='center'><a title='2007-2008NBA赛季专题' href='http://news.sports.cn/basketball/nba/' target='_blank'><img alt='2007-2008NBA赛季专题' src='__STATIC__/images/1_23.jpg' /></a></div>")
			</script>
		</span>
		<div class="space3"></div>
		<div class="space1"></div>
	</div> -->
</div>