<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>你的柱状图</title>
  <script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
  <!-- ECharts单文件引入 -->
  <script src="https://cdn.bootcss.com/echarts/3.1.1/echarts.min.js"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css"/>
  <link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.7/iconfont.css"/>
  <link rel="stylesheet" type="text/css" href="__LIB__/icheck/icheck.css"/>
  <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin"/>
  <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="__STATIC__/css/app.css"/>
  <link rel="stylesheet" type="text/css" href="__LIB__/icheck/icheck.css"/>
  <script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
  <style type="text/css">
    .ul_box {

    }
  </style>
</head>
<body>
  <h3 style="text-align: center;">你的柱状图</h3>
  <div style="text-align: center;"><a href="{:\\think\\Url::build('add')}">添加柱状图</a></div>
  <table class="table table-border table-bordered table-hover table-bg mt-20">
      <thead>
      <tr class="text-c">
        <th width="40">id</th>
        <th width="200">图得类型</th>
        <th width="500">图的内容</th>
        <th width="70">操作</th>
      </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
  </table>

  <script type="text/javascript">
    $(function(){
      function createTr (item, i) {
        var tpl = '<tr class="text-c">';

        tpl += '<td>'+ item.id +'</td>';
        tpl += '<td>'+ item.type +'</td>';
        tpl += '<td><div style="height: 400px;" id="main'+ i +'"></div></td>';
        tpl += '<td><a href="javascript:;" style="cursor:pointer;" delete data-id="'+ item.id +'">删除</a></td>';
        tpl += '</tr>';

        // console.log('--tpl--', tpl);

        $('#tbody').append(tpl);
      }
      // 创建一个 dom
      function createDom(id){
        var div = document.createElement("div");
        div.style.height = "400px";
        div.setAttribute('id', 'main'+id);
        return div;
      }

      function createEcharts (item, i) {
        // console.log('--myChart--', document.getElementById('main'+ i));

        var myChart = echarts.init(document.getElementById('main'+ i));

        var goodNames = item.content.xAxis.split(',');
        var numbers = item.content.series.split(',');
        var title = item.title;
        var index = i+1;

        var option = {
                title : {
                    text : '上传成功，这是你的第'+index+'个数据'
                },
                tooltip : {},
                legend : {
                    data: [title]
                },
                xAxis : {
                    data : goodNames
                },
                yAxis : {},
                series : [ {
                    name: title,
                    type : 'bar',
                    data : numbers
                } ]
            };

          myChart.setOption(option);
      } 

      $.get("{:\\think\\Url::build('index')}",{name:''},function(res){
              
        if (res.code == 1) {
          if (res.data.length > 0) {
            for (var i = 0; res.data.length > i ; i++) {
              createTr(res.data[i], i);
              createEcharts(res.data[i], i);
            }
          } else {
            layer.alert('你还没有柱状图，请添加');
          }
          
        } else {
          layer.alert('你还没有柱状图，请添加');
        }
      });

      $(document).on('click', '[delete]', function(e){
        e.preventDefault()
        var id = $(this).attr('data-id');
        console.log(id);

        layer.confirm('您确定要删除吗？',{title:'删除提醒'},function (index) {
          $.post("{:\\think\\Url::build('delete')}",{id: id},function(res){
                
            if (res.code == 1) {
              layer.alert('删除成功');
              setTimeout(function(){
                window.location.reload();
              }, 500);
              
            } else {
              layer.alert('删除失败');
            }
          });
        })
        
      })
    })
  </script>
</body>
</html>